@import "../../../assets/scss/variables";

.tab-container {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;

  .tabs {
    width: 20%;
    text-align: center;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
    &.active {
      border-radius: 6px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.25s ease;
      background-color: #3bacf0;
      color: #fff;
    }
  }
}

iframe {
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.user-dashboard-container {
  // height: 100vh;
  min-height: 80vh;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 0 solid rgba(0, 0, 0, 0.1);
}
