<app-logout-header></app-logout-header>

<hr>

<div class="tab-container">

    <div class="tabs" [ngClass]="{
        active: isTab1Active}" (click)="switchTab('tab1')">
        <app-svg-icon name="indexerIcon" class="filter-icon">
        </app-svg-icon>Indexer Dashboard
    </div>
    <div class="tabs" [ngClass]="{
        active: isTab2Active}" (click)="switchTab('tab2')">
        <app-svg-icon name="delegatorIcon" class="icons">
        </app-svg-icon>Delegator Dashboard
    </div>
    <div class="tabs" [ngClass]="{
        active: isTab3Active}" (click)="switchTab('tab3')">
        <app-svg-icon name="indexerIcon" class="filter-icon">
        </app-svg-icon>Individual Indexer Dashboard
    </div>
</div>

<div class="user-dashboard-container">
    <iframe frameBorder="0" [src]="dashboardUrl | safe"></iframe>
</div>